StryfeRPG/bin/Windows/Debug/
StryfeRPG/Content/bin/
StryfeRPG/Content/obj/Windows/.mgcontent
StryfeRPG/Content/obj/Windows/charsets.mgcontent
StryfeRPG/Content/obj/Windows/tileset.mgcontent
StryfeRPG/obj/x86/Debug/StryfeRPG.csproj.FileListAbsolute.txt
StryfeRPG/obj/
TiledSharp-master/
TiledSharp-MonoGame-Example-master/
charsets.png
tileset.png
StryfeRPG/Content/obj/Windows/MyFont.mgcontent
StryfeRPG/Content/obj/
RTPXP/
RTPVX/
StryfeEditor/bin/
StryfeEditor/obj/
StryfeCore/obj/
